@import "tailwindcss";

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-clash-display: "Clash Display", sans-serif;

  --animate-marquee: marquee 40s infinite linear;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #e5e5e0;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-space-grotesk);
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-text-responsive {
  @apply text-[38px] sm:text-[48px] md:text-[80px] lg:text-[130px] xl:text-[152px] leading-tight sm:leading-10 md:leading-16 lg:leading-20;
}

@utility value-text-responsive {
  @apply text-lg sm:text-xl md:text-[26px] lg:text-[32px];
}

@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

@utility contact-text-responsive {
  @apply text-[42px] sm:text-[52px] md:text-[62px] lg:text-[100px];
}


@media (pointer: fine) {
  *, *::before, *::after {
    cursor: none !important;
  }
}